<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ base_path() }}/"/>
    <link rel="shortcut icon" href="icons/favicon.ico">
    <title>{{ title|default('SLIM 4 APP') }}</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.0/css/all.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ base_path() }}/css/layout-fixed.css?v394">
    <link rel="stylesheet" href="{{ base_path() }}/css/pdf-export.css?v3">
    <link rel="stylesheet" href="{{ base_path() }}/js/lou-multi-select-57fb8d3/css/multi-select.css?v8" media="screen" type="text/css">
</head>

<body>

<div id="order-update-success" class="w3-modal">
    <div class="w3-modal-content" style="width:500px;">
        <div class="w3-container">
            <div class="w3-center" style="margin:25px 0 25px 0;">
                <div id="progressBar"></div>
            </div>
        </div>
    </div>
</div>

<div id="scheduler-error" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:500px;">
        <div class="w3-bar w3-pink" style="width:100%;">
            <div class="w3-left" style="padding:12px 0 0 15px;font-size:18px;">Booking Conflicts</div>
            <span onclick="document.getElementById('scheduler-error').style.display='none'"
                  class="w3-button w3-right w3-xlarge">&times;</span>
        </div>
        <div class="w3-container">
            DISPLAY CONFLICTS HERE
        </div>
    </div>
</div>

{% include 'layout/partials/navigation.twig' %}

<div class="my-container">

    <div id="my-left-column">
        <h4>W3 60</h4>
    </div>

    <div id="my-middle-column">
        {% block middle_col %}{% endblock %}
    </div>

    <div id="my-right-column">
        <h4>W3 20</h4>
    </div>

</div>

{% include 'layout/partials/footer.twig' %}

{% block javascripts %}{% endblock %}

</body>

</html>